<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.house.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.house.po.User">
    <id column="userId" jdbcType="INTEGER" property="userid" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="nick" jdbcType="VARCHAR" property="nick" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="wechat" jdbcType="VARCHAR" property="wechat" />
    <result column="school" jdbcType="VARCHAR" property="school" />
    <result column="studentId" jdbcType="VARCHAR" property="studentid" />
    <result column="mobile" jdbcType="CHAR" property="mobile" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="isValid" jdbcType="TINYINT" property="isvalid" />
    <result column="isExist" jdbcType="TINYINT" property="isexist" />
    <result column="inserttime" jdbcType="TIMESTAMP" property="inserttime" />
  </resultMap>
  <sql id="Base_Column_List">
    userId, username, nick, icon, wechat, school, studentId, mobile, email, isValid, 
    isExist, inserttime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_house_user
    where userId = #{userid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_house_user
    where userId = #{userid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.house.po.User">
    insert into tb_house_user (userId, username, nick, 
      icon, wechat, school, 
      studentId, mobile, email, 
      isValid, isExist, inserttime
      )
    values (#{userid,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{nick,jdbcType=VARCHAR}, 
      #{icon,jdbcType=VARCHAR}, #{wechat,jdbcType=VARCHAR}, #{school,jdbcType=VARCHAR}, 
      #{studentid,jdbcType=VARCHAR}, #{mobile,jdbcType=CHAR}, #{email,jdbcType=VARCHAR}, 
      #{isvalid,jdbcType=TINYINT}, #{isexist,jdbcType=TINYINT}, #{inserttime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.house.po.User">
    insert into tb_house_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userid != null">
        userId,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="nick != null">
        nick,
      </if>
      <if test="icon != null">
        icon,
      </if>
      <if test="wechat != null">
        wechat,
      </if>
      <if test="school != null">
        school,
      </if>
      <if test="studentid != null">
        studentId,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="isvalid != null">
        isValid,
      </if>
      <if test="isexist != null">
        isExist,
      </if>
      <if test="inserttime != null">
        inserttime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="nick != null">
        #{nick,jdbcType=VARCHAR},
      </if>
      <if test="icon != null">
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="wechat != null">
        #{wechat,jdbcType=VARCHAR},
      </if>
      <if test="school != null">
        #{school,jdbcType=VARCHAR},
      </if>
      <if test="studentid != null">
        #{studentid,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=CHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="isvalid != null">
        #{isvalid,jdbcType=TINYINT},
      </if>
      <if test="isexist != null">
        #{isexist,jdbcType=TINYINT},
      </if>
      <if test="inserttime != null">
        #{inserttime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.house.po.User">
    update tb_house_user
    <set>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="nick != null">
        nick = #{nick,jdbcType=VARCHAR},
      </if>
      <if test="icon != null">
        icon = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="wechat != null">
        wechat = #{wechat,jdbcType=VARCHAR},
      </if>
      <if test="school != null">
        school = #{school,jdbcType=VARCHAR},
      </if>
      <if test="studentid != null">
        studentId = #{studentid,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=CHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="isvalid != null">
        isValid = #{isvalid,jdbcType=TINYINT},
      </if>
      <if test="isexist != null">
        isExist = #{isexist,jdbcType=TINYINT},
      </if>
      <if test="inserttime != null">
        inserttime = #{inserttime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where userId = #{userid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.house.po.User">
    update tb_house_user
    set username = #{username,jdbcType=VARCHAR},
      nick = #{nick,jdbcType=VARCHAR},
      icon = #{icon,jdbcType=VARCHAR},
      wechat = #{wechat,jdbcType=VARCHAR},
      school = #{school,jdbcType=VARCHAR},
      studentId = #{studentid,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=CHAR},
      email = #{email,jdbcType=VARCHAR},
      isValid = #{isvalid,jdbcType=TINYINT},
      isExist = #{isexist,jdbcType=TINYINT},
      inserttime = #{inserttime,jdbcType=TIMESTAMP}
    where userId = #{userid,jdbcType=INTEGER}
  </update>
</mapper>